body{
    background-image: url(https://s.yimg.com/uu/api/res/1.2/ykJkPk4Cqkl7iT5uxYMdug--~B/aD0xMzIzO3c9MjAwMDtzbT0xO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/entertainment_weekly_785/0d162f691cccc30d6e5401d517e6410d);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: friends;   
}
@font-face {
    font-family: friends;
    src: url(../css/friends.ttf)
 }
 #title{
     font-size: 50px;
 }
#questionBody{
    background-color: purple;
    width: 70%;
    margin: 0 auto;
    height: 600px;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    opacity: 0.8;
}
.row{
    margin-left: 300px;
    margin-top: 20px;
    padding: 20px;
    color: white;
    text-align: center;
    font-size: 30px;   
}
#gameName{
    font-size: 60px;   
    font-family: block;
    margin-left: 50px;
    margin-top: 30px;
}
#start{
    margin-top: 50px;
    width: 350px;
    color: purple;
    background-color: white;
    font-size: 100px;
    text-align: center;
    margin-left: 50px;
}

.answerChoices{
    /* margin-top: 50px; */
    width: 350px;
    color: purple;
    /* background-color: white; */
    font-size: 30px;
    text-align: center;
    margin-left: 350px;
}
img {
    width: 200px;
    height: 200px;
}